/*
* dts file for iVeia Atlas helios module
*
*
* Maxwell Walter <mwalter@iveia.com>
*
* This program is free software; you can redistribute it and/or
* modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation; either version 2 of
* the License, or (at your option) any later version.
*/

/dts-v1/;

#include "zynqmp.dtsi"
#include "zynqmp-clk-ccf.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/phy/phy.h>

/ {
	model = "ZynqMP ZCU102";
	compatible = "xlnx,zynqmp-zcu102", "xlnx,zynqmp";
	#address-cells = <2>;
	#size-cells = <1>;


	aliases {
		//ethernet0 = &gem0;
		gpio0 = &gpio;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		rtc0 = &rtc;
		serial0 = &uart0;
		serial1 = &uart1;
		spi0 = &qspi;
		//usb0 = &usb0;
		//usb1 = &iv_usb1;
	};

	chosen {
                //		bootargs = "console=ttyPS1,115200n8 earlycon=cdns,mmio,0xff010000,115200n8 init=/init video=DP-1:1024x768@60 root=/dev/mmcblk0p2 rw rootfstype=ext4 drm.debug=0xf rootwait androidboot.selinux=disabled androidboot.hardware=zcu102 qemu=1";
		bootargs = "console=ttyPS1,115200n8 single root=/dev/mmcblk0p3 rw rootfstype=ext4 rootwait rw earlyprintk loglevel=9";
                //		bootargs = "console=ttyPS1,115200n8 rw earlyprintk loglevel=9";
		stdout-path = "serial1:115200n8";
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x0 0x80000000>, <0x8 0x00000000 0x80000000>;
	};


};


&amba {

	helios_bone_island_aud_clock: iv_io_00125_oscillator {
		compatible = "fixed-clock";
		#clock-cells = <1>;
		clock-frequency  = <18500000>;
		clock-output-names = "aud_clock";
	};

	helios_bone_island_i2s_receiver: iv_io_00125_i2s_receiver@80020000 {
		compatible = "xlnx,i2s-receiver-1.0";
		reg = <0x0 0x80020000 0x0 0x10000>;
		xlnx,dwidth = <0x10>;
		xlnx,num-channels = <1>;
		xlnx,snd-pcm = <&helios_bone_island_audio_audio_formatter>;
		audio-codec = <&iv_io_00125_wm8960>;
	};

	helios_bone_island_i2s_transmitter: iv_io_00125_i2s_transmitter@80010000 {
		compatible = "xlnx,i2s-transmitter-1.0";
		reg = <0x0 0x80010000 0x0 0x10000>;
		xlnx,dwidth = <0x10>;
		xlnx,num-channels = <1>;
		xlnx,snd-pcm = <&helios_bone_island_audio_audio_formatter>;
		audio-codec = <&iv_io_00125_wm8960>;
	};

	helios_bone_island_audio_audio_formatter: iv_io_00125_audio_formatter@80000000 {
		compatible = "xlnx,audio-formatter-1.0";
		interrupt-names = "irq_mm2s", "irq_s2mm";
		interrupt-parent = <&gic>;
		interrupts = <0 89 4>, <0 90 4>;
		reg = <0x0 0x80000000 0x0 0x1000>;
		xlnx,tx = <&helios_bone_island_i2s_transmitter>;
		xlnx,rx = <&helios_bone_island_i2s_receiver>;
		clock-names = "s_axi_lite_aclk", "aud_mclk";
		clocks = <&clk 72>, <&helios_bone_island_aud_clock 0>;
	};

	sv_driver_plat@80000000 {
		compatible = "xlnx,sv_driver_plat";
		interrupt-parent = <&gic>;
		interrupts = <0x0 106 0x4>;
		reg = <0x0 0x80000000 0x0 0x1000 0x0 0x80001000 0x0 0x1000 0x0 0x80002000 0x0 0x1000 0x0 0x88000000 0x0 0x4000000 0x0 0x8C000000 0x0 0x4000000>;
	};

        //ETH0
	default_eth0: NOT_iv_io_00110_NOT_iv_io_00093_NOT_iv_io_00073_ethernet@ff0b0000 {
		compatible = "cdns,zynqmp-gem";
		status = "okay";
		phy-mode = "gmii";
		interrupt-parent = <&gic>;
		interrupts = <0 57 4>, <0 57 4>;
		reg = <0x0 0xff0b0000 0x0 0x1000>;
		clocks = <&clk 45>, <&clk 45>, <&clk 49>;
		clock-names = "pclk", "tx_clk", "hclk";
		#address-cells = <1>;
		#size-cells = <0>;
		#stream-id-cells = <1>;
		iommus = <&smmu 0x874>;
		power-domains = <&pd_eth0>;
	};


	iv_io_00125_usb0: iv_io_00125_usb0 {
		#address-cells = <2>;
		#size-cells = <2>;
		status = "okay";
		compatible = "xlnx,zynqmp-dwc3";
		reg = <0x0 0xff9d0000 0x0 0x100>;
		clock-names = "bus_clk", "ref_clk";
		#stream-id-cells = <1>;
		iommus = <&smmu 0x860>;
		power-domains = <&pd_usb0>;
		ranges;
		nvmem-cells = <&soc_revision>;
		nvmem-cell-names = "soc_revision";
                clocks = <&clk 32>,  <&clk 34>;

		boneisland_dwc: dwc3@fe200000 {
			compatible = "snps,dwc3";
			status = "okay";
			reg = <0x0 0xfe200000 0x0 0x40000>;
			interrupt-parent = <&gic>;
			interrupts = <0 65 4>, <0 69 4>;
			snps,quirk-frame-length-adjustment = <0x20>;
			snps,refclk_fladj;

	                dr_mode = "host";
		};
	};

        iv_io_00125_axi_iic: i2c@80002000 {
		#size-cells = <0>;
		#address-cells = <1>;
		compatible = "xlnx,xps-iic-2.00.a";
                clocks = <&clk 72>;
                clock-names = "pclk";
		interrupt-parent = <&gic>;
		interrupts = < 0 95 4 >;
		reg = < 0x0 0x80002000 0x0 0x1000 >;

    	        switch@71 {
                        compatible = "nxp,pca9547";
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <0x71>;
		        i2c@0 {
	                        #address-cells = <1>;
                                #size-cells = <0>;
                                reg = <0>;
			        
                        };
    		        i2c@1 {
    	                        #address-cells = <1>;
                                #size-cells = <0>;
                                reg = <0>;
			        
                        };
    		        i2c@2 {
    	                        #address-cells = <1>;
                                #size-cells = <0>;
                                reg = <0>;
    			        
                        };
    		        i2c@3 {
    	                        #address-cells = <1>;
                                #size-cells = <0>;
                                reg = <0>;
    			        
                        };
    		        i2c@4 {
    	                        #address-cells = <1>;
                                #size-cells = <0>;
                                reg = <0>;
    			        
                        };
    		        i2c@5 {
    	                        #address-cells = <1>;
                                #size-cells = <0>;
                                reg = <0>;
			        
                        };
    		        i2c@6 {
    	                        #address-cells = <1>;
                                #size-cells = <0>;
                                reg = <0>;
			        
                        };
                };

	};

        iv_io_00125_gpio-restart {
	        compatible = "gpio-restart";
	        gpios = <&gpio 20 GPIO_ACTIVE_LOW>;
	        priority = <128>;
	        active-delay = <100>;
	        inactive-delay = <100>;
	        wait-delay = <3000>;
        };


	misc_clk_0: misc_clk_0 {
		#clock-cells = <0>;
		clock-frequency = <300000000>;
		compatible = "fixed-clock";
	};
        misc_clk_1: misc_clk_1 {
		#clock-cells = <0>;
		clock-frequency = <199980021>;
		compatible = "fixed-clock";
	};
	misc_clk_2: misc_clk_2 {
		#clock-cells = <0>;
		clock-frequency = <33330003>;
		compatible = "fixed-clock";
	};

	mipi_csi2_rx_v_frmbuf_wr_0: v_frmbuf_wr@a0260000 {
		#dma-cells = <1>;
		clock-names = "ap_clk";
		clocks = <&misc_clk_0>;
		//clocks = <&zynqmp_clk 72>;
		compatible = "xlnx,v-frmbuf-wr-2", "xlnx,axi-frmbuf-wr-v2";
		interrupt-names = "interrupt";
		interrupt-parent = <&gic>;
		interrupts = <0 106 4>;
		reg = <0x0 0xa0260000 0x0 0x10000>;
		reset-gpios = <&gpio 80 1>;
		xlnx,dma-addr-width = <32>;
		xlnx,dma-align = <16>;
		xlnx,max-width = <4208>;
		xlnx,max-height = <3120>;
		xlnx,pixels-per-clock = <2>;
		xlnx,s-axi-ctrl-addr-width = <0x7>;
		xlnx,s-axi-ctrl-data-width = <0x20>;
		xlnx,vid-formats = "bgr888", "xbgr8888", "xrgb8888", "uyvy", "y8", "vuy888", "xvuy8888", "yuyv", "nv12", "nv16";
		xlnx,video-width = <8>;
	};
  
        mipi_csi2_rx_mipi_csi2_rx_subsyst_0: mipi_csi2_rx_subsystem@a0000000 {
		clock-names = "lite_aclk", "dphy_clk_200M", "video_aclk";
		clocks = <&clk 71>, <&misc_clk_1>, <&clk 72>;
		compatible = "xlnx,mipi-csi2-rx-subsystem-3.0";
		interrupt-names = "csirxss_csi_irq";
                status = "okay";
		interrupt-parent = <&gic>;
		interrupts = <0 105 4>;
		reg = <0x0 0xa0000000 0x0 0x10000>;
		xlnx,axis-tdata-width = <32>;
		xlnx,cal-mode = "NONE";
		xlnx,clk-io-swap = "false";
		xlnx,clk-lane-io-position = <0x6>;
		xlnx,clk-lp-io-swap = "false";
		xlnx,csi-en-activelanes = "false";
		xlnx,csi-en-crc = "true";
		xlnx,csi-filter-userdatatype = "true";
		xlnx,csi-opt1-regs = "false";
		xlnx,csi-pxl-format = "YUV422_8bit";
		xlnx,csi2rx-dbg = <0x0>;
		xlnx,data-lane0-io-position = <0x2>;
		xlnx,data-lane1-io-position = <0x4>;
		xlnx,data-lane2-io-position = <0x8>;
		xlnx,data-lane3-io-position = <0x0>;
		xlnx,dl0-io-swap = "false";
		xlnx,dl0-lp-io-swap = "false";
		xlnx,dl1-io-swap = "false";
		xlnx,dl1-lp-io-swap = "false";
		xlnx,dl2-io-swap = "false";
		xlnx,dl2-lp-io-swap = "false";
		xlnx,dl3-io-swap = "false";
		xlnx,dl3-lp-io-swap = "false";
		xlnx,dphy-lanes = <0x4>;
		xlnx,dphy-mode = "SLAVE";
		xlnx,en-bg0-pin0 = "false";
		xlnx,en-bg0-pin6 = "false";
		xlnx,en-bg1-pin0 = "false";
		xlnx,en-bg1-pin6 = "false";
		xlnx,en-bg2-pin0 = "false";
		xlnx,en-bg2-pin6 = "false";
		xlnx,en-bg3-pin0 = "false";
		xlnx,en-bg3-pin6 = "false";
		xlnx,en-clk300m = "false";
		xlnx,en-cnts-byte-clk = "false";
		xlnx,en-csi-v2-0 = "false";
		xlnx,en-exdesigns = "false";
		xlnx,en-timeout-regs = "false";
		xlnx,en-vcx = "false";
		xlnx,esc-timeout = <0x6400>;
		xlnx,exdes-board = "ZCU102";
		xlnx,exdes-config = "MIPI_Video_Pipe_Camera_to_Display";
		xlnx,exdes-fmc = "LI-IMX274MIPI-FMC V1.0 Single Sensor";
		xlnx,fifo-rd-en-control = "true";
		xlnx,hs-line-rate = <0x4b0>;
		xlnx,hs-settle-ns = <0x8f>;
		xlnx,hs-timeout = <0x10005>;
		xlnx,idly-group-name = "mipi_csi2rx_idly_group";
		xlnx,idly-tap = <0x1>;
		xlnx,init = <0x186a0>;
		xlnx,is-7series = "false";
		xlnx,is-versal = "false";
		xlnx,max-lanes = <4>;
		xlnx,mipi-slv-int = <0x0>;
		xlnx,ppc = <2>;
		xlnx,rcve-alt-deskew-seq = "false";
		xlnx,rcve-deskew-seq = "false";
		xlnx,share-idlyctrl = "false";
		xlnx,stretch-line-rate = <0x9c4>;
		xlnx,vc = <4>;
		xlnx,vfb ;

		mipi0_ports: ports {
			#address-cells = <0x1>;
			#size-cells = <0x0>;
                        
			mipi0_port0: port@0 {
				reg = <0x0>;
                                //xlnx,cfa-pattern = "rggb";
				xlnx,video-format = <0x0>;
				xlnx,video-width = <0x8>;
                                
				mipi0_mipi_out: endpoint {
					remote-endpoint = <&mipi0_scaler_in>;
				};
			};
			mipi0_port1: port@1 {
				reg = <0x1>;
                                //xlnx,cfa-pattern = "rggb";
				xlnx,video-format = <0x0>;
				xlnx,video-width = <0x8>;
                                
				mipi0_mipi_in: endpoint {
                                        remote-endpoint = <&basler_camera_mipi0_ep>;
                                        //remote-endpoint = <&dummy_in02>;
				};
			};
		};
        };

	iveia_scaler {
		compatible = "iveia,passthrough";
		#address-cells = <0x01>;
		#size-cells = <0x00>;
		//clocks = <0x34>;
		//reset-gpios = <0x32 0x51 0x01>;
		reg = <0x00 0xa0041000 0x00 0x10000>;
                
		ports {
			#address-cells = <0x01>;
			#size-cells = <0x00>;
                        
			port@0 {
				reg = <0x00>;
				xlnx,video-format = <0x00>;
				xlnx,video-width = <0x08>;
                                
				mipi0_scaler_out:endpoint {
					remote-endpoint = <&mipi0_vcap_in>;
				};
			};
                        
			port@1 {
				reg = <0x01>;
				xlnx,video-format = <0x00>;
				xlnx,video-width = <0x08>;
                                
				mipi0_scaler_in:endpoint {
					remote-endpoint = <&mipi0_mipi_out>;
				};
			};
		};
	};

	mipi0_vcap {
		compatible = "xlnx,video";
		dma-names = "port0";
		dmas = <&mipi_csi2_rx_v_frmbuf_wr_0 0x0>;

		mipi0_vcap_ports: ports {
			#address-cells = <0x1>;
			#size-cells = <0x0>;

			mipi0_port: port@0 {
				direction = "input";
				reg = <0x0>;

				mipi0_vcap_in: endpoint {
					remote-endpoint = <&mipi0_scaler_out>;
				};
			};
		};
	};

        mipi_csi2_rx_mipi_csi2_rx_subsyst_1: mipi_csi2_rx_subsystem@a0010000 {
		clock-names = "lite_aclk", "dphy_clk_200M", "video_aclk";
		clocks = <&clk 71>, <&misc_clk_1>, <&clk 72>;
		compatible = "xlnx,mipi-csi2-rx-subsystem-3.0";
		interrupt-names = "csirxss_csi_irq";
                status = "okay";
		interrupt-parent = <&gic>;
		interrupts = <0 108 4>;
		reg = <0x0 0xa0010000 0x0 0x10000>;
		xlnx,axis-tdata-width = <32>;
		xlnx,cal-mode = "NONE";
		xlnx,clk-io-swap = "false";
		xlnx,clk-lane-io-position = <0x6>;
		xlnx,clk-lp-io-swap = "false";
		xlnx,csi-en-activelanes = "false";
		xlnx,csi-en-crc = "true";
		xlnx,csi-filter-userdatatype = "true";
		xlnx,csi-opt1-regs = "false";
		xlnx,csi-pxl-format = "YUV422_8bit";
		xlnx,csi2rx-dbg = <0x0>;
		xlnx,data-lane0-io-position = <0x2>;
		xlnx,data-lane1-io-position = <0x4>;
		xlnx,data-lane2-io-position = <0x8>;
		xlnx,data-lane3-io-position = <0x0>;
		xlnx,dl0-io-swap = "false";
		xlnx,dl0-lp-io-swap = "false";
		xlnx,dl1-io-swap = "false";
		xlnx,dl1-lp-io-swap = "false";
		xlnx,dl2-io-swap = "false";
		xlnx,dl2-lp-io-swap = "false";
		xlnx,dl3-io-swap = "false";
		xlnx,dl3-lp-io-swap = "false";
		xlnx,dphy-lanes = <0x4>;
		xlnx,dphy-mode = "SLAVE";
		xlnx,en-bg0-pin0 = "false";
		xlnx,en-bg0-pin6 = "false";
		xlnx,en-bg1-pin0 = "false";
		xlnx,en-bg1-pin6 = "false";
		xlnx,en-bg2-pin0 = "false";
		xlnx,en-bg2-pin6 = "false";
		xlnx,en-bg3-pin0 = "false";
		xlnx,en-bg3-pin6 = "false";
		xlnx,en-clk300m = "false";
		xlnx,en-cnts-byte-clk = "false";
		xlnx,en-csi-v2-0 = "false";
		xlnx,en-exdesigns = "false";
		xlnx,en-timeout-regs = "false";
		xlnx,en-vcx = "false";
		xlnx,esc-timeout = <0x6400>;
		xlnx,exdes-board = "ZCU102";
		xlnx,exdes-config = "MIPI_Video_Pipe_Camera_to_Display";
		xlnx,exdes-fmc = "LI-IMX274MIPI-FMC V1.0 Single Sensor";
		xlnx,fifo-rd-en-control = "true";
		xlnx,hs-line-rate = <0x4b0>;
		xlnx,hs-settle-ns = <0x8f>;
		xlnx,hs-timeout = <0x10005>;
		xlnx,idly-group-name = "mipi_csi2rx_idly_group";
		xlnx,idly-tap = <0x1>;
		xlnx,init = <0x186a0>;
		xlnx,is-7series = "false";
		xlnx,is-versal = "false";
		xlnx,max-lanes = <4>;
		xlnx,mipi-slv-int = <0x0>;
		xlnx,ppc = <2>;
		xlnx,rcve-alt-deskew-seq = "false";
		xlnx,rcve-deskew-seq = "false";
		xlnx,share-idlyctrl = "false";
		xlnx,stretch-line-rate = <0x9c4>;
		xlnx,vc = <4>;
		xlnx,vfb ;

		mipi1_ports: ports {
			#address-cells = <0x1>;
			#size-cells = <0x0>;
                        
			mipi1_port0: port@0 {
				reg = <0x0>;
                                //xlnx,cfa-pattern = "rggb";
				xlnx,video-format = <0x0>;
				xlnx,video-width = <0x8>;
                                
				mipi1_mipi_out: endpoint {
					remote-endpoint = <&mipi1_scaler_in>;
				};
			};
			mipi1_port1: port@1 {
				reg = <0x1>;
                                //xlnx,cfa-pattern = "rggb";
				xlnx,video-format = <0x0>;
				xlnx,video-width = <0x8>;
                                
				mipi1_mipi_in: endpoint {
                                        remote-endpoint = <&basler_camera_mipi1_ep>;
                                        //remote-endpoint = <&dummy_in02>;
				};
			};
		};
        };

	iveia1_scaler {
		compatible = "iveia,passthrough";
		#address-cells = <0x01>;
		#size-cells = <0x00>;
		//clocks = <0x34>;
		//reset-gpios = <0x32 0x51 0x01>;
		reg = <0x00 0xa0041200 0x00 0x10000>;
                
		ports {
			#address-cells = <0x01>;
			#size-cells = <0x00>;
                        
			port@0 {
				reg = <0x00>;
				xlnx,video-format = <0x00>;
				xlnx,video-width = <0x08>;
                                
				mipi1_scaler_out:endpoint {
					remote-endpoint = <&mipi1_vcap_in>;
				};
			};
                        
			port@1 {
				reg = <0x01>;
				xlnx,video-format = <0x00>;
				xlnx,video-width = <0x08>;
                                
				mipi1_scaler_in:endpoint {
					remote-endpoint = <&mipi1_mipi_out>;
				};
			};
		};
	};

	mipi_csi2e_rx_v_frmbuf_wr_0: v_frmbuf_wr@a0030000 {
		#dma-cells = <1>;
		clock-names = "ap_clk";
		clocks = <&misc_clk_0>;
		//clocks = <&zynqmp_clk 72>;
		compatible = "xlnx,v-frmbuf-wr-2", "xlnx,axi-frmbuf-wr-v2";
		interrupt-names = "interrupt";
		interrupt-parent = <&gic>;
		interrupts = <0 107 4>;
		reg = <0x0 0xa0030000 0x0 0x10000>;
		reset-gpios = <&gpio 81 1>;
		xlnx,dma-addr-width = <32>;
		xlnx,dma-align = <16>;
		xlnx,max-width = <4208>;
		xlnx,max-height = <3120>;
		xlnx,pixels-per-clock = <1>;
		xlnx,s-axi-ctrl-addr-width = <0x7>;
		xlnx,s-axi-ctrl-data-width = <0x20>;
		xlnx,vid-formats = "bgr888", "xbgr8888", "xrgb8888", "uyvy", "y8", "vuy888", "xvuy8888", "yuyv", "nv12", "nv16";
		xlnx,video-width = <8>;
	};

        mipi1_vcap {
		compatible = "xlnx,video";
		dma-names = "port0";
		dmas = <&mipi_csi2e_rx_v_frmbuf_wr_0 0x0>;

		mipi0e_vcap_ports: ports {
			#address-cells = <0x1>;
			#size-cells = <0x0>;

			mipi1_port: port@0 {
				direction = "input";
				reg = <0x0>;

				mipi1_vcap_in: endpoint {
					remote-endpoint = <&mipi1_scaler_out>;
				};
			};
		};
	};

        // We need userspace access to a physically contiguous region of memory
        //  to allow for userptr v4l2 control.
        // Using mmap is incredibly slow
        // The size needs to be big enough for:
        //  sum_over_cameras(camera_frame_size * number_of_v4l2_buffers)
        udmabuf0@0x00 {
                compatible = "ikwzm,u-dma-buf";
                device-name = "udmabuf0";
                //size = <0x02800000>; // lower res camera - 4 buffers
                //size = <0x342B000>; // higher res camera - 2 buffers
                size = <0x720000>; // smaller camera scaled
        };
        udmabuf1@0x01 {
                compatible = "ikwzm,u-dma-buf";
                device-name = "udmabuf1";
                //size = <0x02800000>; // lower res camera - 4 buffers
                //size = <0x342B000>; // Higher res camera - 2 buffers
                size = <0x720000>; // smaller camera scaled
        };

}; // end amba


&pss_ref_clk {
        clock-frequency = <50000000>;
};

&fclk0 {
	status = "okay";
};

&fclk1 {
	status = "okay";
};

&fclk2 {
	status = "okay";
};

&fclk3 {
	status = "okay";
};

&serdes {
	status = "okay";
};

&can1 {
	status = "okay";
};

&gpio {
	status = "okay";
};

&gpu {
	status = "okay";
};

&i2c0 {
	status = "okay";
	clock-frequency = <400000>;

        iv_io_00125_rtc@68 {
                compatible = "stm,m41t62";
                reg = <0x68>;
        };
        
        iv_io_00125_tmp@48 {
		compatible = "national,lm75";
		reg = <0x48>;	
	};

        camera_switch@70 {
                compatible = "nxp,pca9543";
                #address-cells = <1>;
                #size-cells = <0>;
                reg = <0x70>;
                
                camera_switch@0 {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <0>;
                        basler_camera_mipi0: basler_camera_mipi0@36 {
                                compatible = "iveia,basler-mipi";
                                reg = <0x36>;
                                status = "okay";
                                
                                port {
                                        basler_camera_mipi0_ep: endpoint {
                                                //remote-endpoint = <&mipi1_sensor_ep>;
                                                //remote-endpoint = <&dummy_control>;
                                                remote-endpoint = <&mipi0_mipi_in>;
                                                
                                                // IMPORTANT: The following three entries needs to be held
                                                // in sync with the information stored in the mipi1_sensor_ep node. 
                                                data-lanes = <1 2 3 4>;
                                                clock-lanes = <0>;
                                                link-frequencies = /bits/ 64 <120000000>;
                                        };
                                };
                                
                        };
                        
                };

                camera_switch_70@1 {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <1>;

                        basler_camera_mipi1: basler_camera_mipi1@36 {
                                compatible = "iveia,basler-mipi";
                                reg = <0x36>;
                                status = "okay";
                                
                                port {
                                        basler_camera_mipi1_ep: endpoint {
                                                remote-endpoint = <&mipi1_mipi_in>;
                                                
                                                // IMPORTANT: The following three entries needs to be held
                                                // in sync with the information stored in the mipi1_sensor_ep node.
                                                data-lanes = <1 2 3 4>;
                                                clock-lanes = <0>;
                                                link-frequencies = /bits/ 64 <248000000>;
                                        };
                                };
                        };
                };
        }; // end switch@70                        
}; // end i2c0

&i2c1 {
	status = "okay";
	clock-frequency = <400000>;

        iv_io_00125_tsc@4a {
	        reg = <0x4a>;
	        compatible = "atmel,maxtouch";
	        interrupt-parent = <&gic>;
	        interrupts = <0 94 4>;
        };

        iv_io_00125_tsc@4b {
	        reg = <0x4b>;
	        compatible = "atmel,maxtouch";
	        interrupt-parent = <&gic>;
	        interrupts = <0 94 4>;
        };
        
        iv_io_00125_tsc@4c {
	        reg = <0x4c>;
	        compatible = "atmel,maxtouch";
	        interrupt-parent = <&gic>;
	        interrupts = <0 94 4>;
        };

        iv_io_00125_wm8960: iv_io_00125_wm8960@1a {//Atlas-I-Z8 on Bone-Island Carrier
		compatible = "wlf,wm8960";
		//#address-cells = <1>;
		//#size-cells = <0>;
		reg = <0x1a>;
	};


};

&pcie {
	status = "okay";
	phys = <&lane0 PHY_TYPE_PCIE 0 0 100000000>;
};

&qspi {
        status = "okay";
        is-dual = <0>;
        flash@0 {
                compatible = "jedec,spi-nor";
                #address-cells = <1>;
                #size-cells = <1>;
                reg = <0x0>;
                spi-max-frequency = <50000000>;
                partition@qspi-fsbl-uboot {
                        label = "qspi-fsbl-uboot";
                        reg = <0x0 0x0fd000>;
                };
                partition@qspi-user-info{
                        label = "qspi-user-info";
                        reg = <0x0fd000 0x1000>;
                };
                partition@qspi-io-board-info{
                        label = "qspi-io-board-info";
                        reg = <0x0fe000 0x1000>;
                };
                partition@qspi-mb-board-info{
                        label = "qspi-mb-board-info";
                        reg = <0x0ff000 0x1000>;
                }; 

        };
};

&spi0 {
	status = "okay";

	tpm_spi_tis@0{
		compatible = "tcg,tpm_tis-spi";
 		reg = <0>;	/* CE0 */
 		spi-max-frequency = <500000>;
 	};
};

&rtc {
	status = "okay";
};

/* SD1 with level shifter */
&sdhci1 {
	status = "okay";
	no-1-8-v;
	xlnx,mio_bank = <1>;

        //    bus-width = <0x4>;
        //    vmmc-supply = <&lwb_reg>;

        max-frequency = <40000000>;

        disable-wp;
	non-removeable;
        //	cap-power-off-card;
};

&sdhci0 {
	status = "okay";
	no-1-8-v;
	xlnx,mio_bank = <0>;

        max-frequency = <40000000>;

        disable-wp;
	non-removeable;
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
        compatible = "iveia,xuartps-rs485";
	gpios = <&gpio 26 GPIO_ACTIVE_HIGH>;
};

&xilinx_ams {
	status = "okay";
};

&ams_ps {
	status = "okay";
};

&ams_pl {
	status = "okay";
};
