/*
* dts file for iVeia Atlas-II-Z8
 *
 *
 * Patrick Cleary <pcleary@iveia.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 */

/dts-v1/;

#include "zynqmp.dtsi"
#include "zynqmp-clk-ccf.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/phy/phy.h>

/ {
	model = "ZynqMP ZCU102";
	compatible = "xlnx,zynqmp-zcu102", "xlnx,zynqmp";
	#address-cells = <2>;
	#size-cells = <1>;


	aliases {
		//ethernet0 = &gem0;
		gpio0 = &gpio;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		rtc0 = &rtc;
		serial0 = &uart0;
		serial1 = &uart1;
		spi0 = &qspi;
		//usb0 = &usb0;
		//usb1 = &iv_usb1;
	};

	chosen {
//		bootargs = "console=ttyPS1,115200n8 earlycon=cdns,mmio,0xff010000,115200n8 init=/init video=DP-1:1024x768@60 root=/dev/mmcblk0p2 rw rootfstype=ext4 drm.debug=0xf rootwait androidboot.selinux=disabled androidboot.hardware=zcu102 qemu=1";
		bootargs = "console=ttyPS1,115200n8 single root=/dev/mmcblk0p3 rw rootfstype=ext4 rootwait rw earlyprintk loglevel=9";
//		bootargs = "console=ttyPS1,115200n8 rw earlyprintk loglevel=9";
		stdout-path = "serial1:115200n8";
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x0 0x80000000>, <0x8 0x00000000 0x80000000>;
	};


};


&amba {

	helios_bone_island_aud_clock: iv_io_00125_oscillator {
		compatible = "fixed-clock";
		#clock-cells = <1>;
		clock-frequency  = <18500000>;
		clock-output-names = "aud_clock";
	};

	helios_bone_island_i2s_receiver: iv_io_00125_i2s_receiver@80020000 {
		compatible = "xlnx,i2s-receiver-1.0";
		reg = <0x0 0x80020000 0x0 0x10000>;
		xlnx,dwidth = <0x10>;
		xlnx,num-channels = <1>;
		xlnx,snd-pcm = <&helios_bone_island_audio_audio_formatter>;
		audio-codec = <&iv_io_00125_wm8960>;
	};

	helios_bone_island_i2s_transmitter: iv_io_00125_i2s_transmitter@80010000 {
		compatible = "xlnx,i2s-transmitter-1.0";
		reg = <0x0 0x80010000 0x0 0x10000>;
		xlnx,dwidth = <0x10>;
		xlnx,num-channels = <1>;
		xlnx,snd-pcm = <&helios_bone_island_audio_audio_formatter>;
		audio-codec = <&iv_io_00125_wm8960>;
	};

	helios_bone_island_audio_audio_formatter: iv_io_00125_audio_formatter@80000000 {
		compatible = "xlnx,audio-formatter-1.0";
		interrupt-names = "irq_mm2s", "irq_s2mm";
		interrupt-parent = <&gic>;
		interrupts = <0 89 4>, <0 90 4>;
		reg = <0x0 0x80000000 0x0 0x1000>;
		xlnx,tx = <&helios_bone_island_i2s_transmitter>;
		xlnx,rx = <&helios_bone_island_i2s_receiver>;
		clock-names = "s_axi_lite_aclk", "aud_mclk";
		clocks = <&clk 72>, <&helios_bone_island_aud_clock 0>;
	};

		sv_driver_plat@80000000 {
			compatible = "xlnx,sv_driver_plat";
			interrupt-parent = <&gic>;
			interrupts = <0x0 106 0x4>;
			reg = <0x0 0x80000000 0x0 0x1000 0x0 0x80001000 0x0 0x1000 0x0 0x80002000 0x0 0x1000 0x0 0x88000000 0x0 0x4000000 0x0 0x8C000000 0x0 0x4000000>;
		};

//ETH0
	default_eth0: NOT_iv_io_00110_NOT_iv_io_00093_NOT_iv_io_00073_ethernet@ff0b0000 {
			compatible = "cdns,zynqmp-gem";
			status = "okay";
			phy-mode = "gmii";
			interrupt-parent = <&gic>;
			interrupts = <0 57 4>, <0 57 4>;
			reg = <0x0 0xff0b0000 0x0 0x1000>;
			clocks = <&clk 45>, <&clk 45>, <&clk 49>;
			clock-names = "pclk", "tx_clk", "hclk";
			#address-cells = <1>;
			#size-cells = <0>;
			#stream-id-cells = <1>;
			iommus = <&smmu 0x874>;
			power-domains = <&pd_eth0>;
	};


		iv_mb_00090_iv_mb_0098_iv_mb_00114_usb0: iv_mb_00090_iv_mb_0098_iv_mb_00114_usb0 { //All boards except Atlas-III-Z8
		//iv_usb0: iv_usb0 {
			#address-cells = <2>;
			#size-cells = <2>;
			status = "okay";
			compatible = "xlnx,zynqmp-dwc3";
			reg = <0x0 0xff9d0000 0x0 0x100>;
			clock-names = "bus_clk", "ref_clk";
			#stream-id-cells = <1>;
			iommus = <&smmu 0x860>;
			power-domains = <&pd_usb0>;
			ranges;
			nvmem-cells = <&soc_revision>;
			nvmem-cell-names = "soc_revision";
            clocks = <&clk 32>,  <&clk 34>;

			iv_dwc3_0: iv_dwc3@fe200000 {
				compatible = "snps,dwc3";
				status = "okay";
				reg = <0x0 0xfe200000 0x0 0x40000>;
				interrupt-parent = <&gic>;
				interrupts = <0 65 4>, <0 69 4>;
				snps,quirk-frame-length-adjustment = <0x20>;
				snps,refclk_fladj;

	            dr_mode = "host";
	            snps,usb3_lpm_capable;
	            phy-names = "usb3-phy";
	            phys = <&lane0 PHY_TYPE_USB3 0 2 26000000>;

			};
		};

		iv_mb_00108_usb0: iv_mb_00108_usb0 { //Atlas-I-Z8 has different Lane setup
		//iv_usb0: iv_usb0 {
			#address-cells = <2>;
			#size-cells = <2>;
			status = "okay";
			compatible = "xlnx,zynqmp-dwc3";
			reg = <0x0 0xff9d0000 0x0 0x100>;
			clock-names = "bus_clk", "ref_clk";
			#stream-id-cells = <1>;
			iommus = <&smmu 0x860>;
			power-domains = <&pd_usb0>;
			ranges;
			nvmem-cells = <&soc_revision>;
			nvmem-cell-names = "soc_revision";
            clocks = <&clk 32>,  <&clk 34>;

			iv_dwc3_a1_0: iv_dwc3@fe200000 {
				compatible = "snps,dwc3";
				status = "okay";
				reg = <0x0 0xfe200000 0x0 0x40000>;
				interrupt-parent = <&gic>;
				interrupts = <0 65 4>, <0 69 4>;
				snps,quirk-frame-length-adjustment = <0x20>;
				snps,refclk_fladj;

	            dr_mode = "host";
	            snps,usb3_lpm_capable;
	            phy-names = "usb3-phy";
	            phys = <&lane0 PHY_TYPE_USB3 0 0 100000000>;

			};
		};

		iv_io_00125_usb0: iv_io_00125_usb0 {
			#address-cells = <2>;
			#size-cells = <2>;
			status = "okay";
			compatible = "xlnx,zynqmp-dwc3";
			reg = <0x0 0xff9d0000 0x0 0x100>;
			clock-names = "bus_clk", "ref_clk";
			#stream-id-cells = <1>;
			iommus = <&smmu 0x860>;
			power-domains = <&pd_usb0>;
			ranges;
			nvmem-cells = <&soc_revision>;
			nvmem-cell-names = "soc_revision";
            clocks = <&clk 32>,  <&clk 34>;

			boneisland_dwc: dwc3@fe200000 {
				compatible = "snps,dwc3";
				status = "okay";
				reg = <0x0 0xfe200000 0x0 0x40000>;
				interrupt-parent = <&gic>;
				interrupts = <0 65 4>, <0 69 4>;
				snps,quirk-frame-length-adjustment = <0x20>;
				snps,refclk_fladj;

	            dr_mode = "host";
			};
		};


		iv_mb_00090_iv_mb_0098_iv_mb_00108_iv_mb_00114_usb1: iv_mb_00090_iv_mb_0098_iv_mb_00108_iv_mb_00114_usb1 { //All boards except Atlas-III-Z8
			#address-cells = <2>;
			#size-cells = <2>;
			status = "okay";
			compatible = "xlnx,zynqmp-dwc3";
			reg = <0x0 0xff9e0000 0x0 0x100>;
			clock-names = "bus_clk", "ref_clk";
			#stream-id-cells = <1>;
			iommus = <&smmu 0x861>;
			power-domains = <&pd_usb1>;
			ranges;
			nvmem-cells = <&soc_revision>;
			nvmem-cell-names = "soc_revision";
            clocks = <&clk 33>,  <&clk 34>;

			iv_dwc3_1: dwc3@fe300000 {
				compatible = "snps,dwc3";
				status = "okay";
				reg = <0x0 0xfe300000 0x0 0x40000>;
				interrupt-parent = <&gic>;
				interrupts = <0 70 4>, <0 74 4>;
				snps,quirk-frame-length-adjustment = <0x20>;
				snps,refclk_fladj;

                dr_mode = "host";
                maximum-speed = "high-speed";

			};
		};

	iv_io_00123_axi_iic: i2c@80002000 {
		#size-cells = <0>;
		#address-cells = <1>;
		compatible = "xlnx,xps-iic-2.00.a";
        clocks = <&clk 72>;
        clock-names = "pclk";
		interrupt-parent = <&gic>;
		interrupts = < 0 95 4 >;
		reg = < 0x0 0x80002000 0x0 0x1000 >;

        tsc@4a {
		    reg = <0x4a>;
		    compatible = "atmel,maxtouch";
		    interrupt-parent = <&gic>;
		    interrupts = <0 94 4>;
	    };

        tsc@4b {
		    reg = <0x4b>;
		    compatible = "atmel,maxtouch";
		    interrupt-parent = <&gic>;
		    interrupts = <0 94 4>;
	    };
 
        tsc@4c {
		    reg = <0x4c>;
		    compatible = "atmel,maxtouch";
		    interrupt-parent = <&gic>;
		    interrupts = <0 94 4>;
	    };

	};

    iv_io_00125_axi_iic: i2c@80002000 {
		#size-cells = <0>;
		#address-cells = <1>;
		compatible = "xlnx,xps-iic-2.00.a";
        clocks = <&clk 72>;
        clock-names = "pclk";
		interrupt-parent = <&gic>;
		interrupts = < 0 95 4 >;
		reg = < 0x0 0x80002000 0x0 0x1000 >;

    	switch@71 {
            compatible = "nxp,pca9547";
            #address-cells = <1>;
            #size-cells = <0>;
            reg = <0x71>;
		    i2c@0 {
	            #address-cells = <1>;
                #size-cells = <0>;
                reg = <0>;
			
            };
    		i2c@1 {
    	        #address-cells = <1>;
                #size-cells = <0>;
                reg = <0>;
			
            };
    		i2c@2 {
    	        #address-cells = <1>;
                #size-cells = <0>;
                reg = <0>;
    			
            };
    		i2c@3 {
    	        #address-cells = <1>;
                #size-cells = <0>;
                reg = <0>;
    			
            };
    		i2c@4 {
    	        #address-cells = <1>;
                #size-cells = <0>;
                reg = <0>;
    			
            };
    		i2c@5 {
    	        #address-cells = <1>;
               #size-cells = <0>;
                reg = <0>;
			
            };
    		i2c@6 {
    	        #address-cells = <1>;
                #size-cells = <0>;
                reg = <0>;
			
            };
        };

	};

    iv_io_00125_gpio-restart {
	    compatible = "gpio-restart";
	    gpios = <&gpio 20 GPIO_ACTIVE_LOW>;
	    priority = <128>;
	    active-delay = <100>;
	    inactive-delay = <100>;
	    wait-delay = <3000>;
    };
};


&pss_ref_clk {
        clock-frequency = <50000000>;
};

&fclk0 {
	status = "okay";
};

&fclk1 {
	status = "okay";
};

&fclk2 {
	status = "okay";
};

&fclk3 {
	status = "okay";
};

&serdes {
	status = "okay";
};

&can1 {
	status = "okay";
};

&gpio {
	status = "okay";
};

&gpu {
	status = "okay";
};

&i2c0 {
	status = "okay";
	clock-frequency = <400000>;

	iv_bp_00052_gpio: iv_bp_00052_i2c_gpio@71 { //Triumph AEP Module
		compatible = "nxp,pca9538";
		reg = <0x71>;
        gpio-controller;
        #gpio-cells = <2>;

	};

    iv_io_00087_mdio@41 {  //Quadratic Tri-Mode Ethernet PHY
        compatible = "iveia,mdio-bsc-i2c";
        reg = <0x41>;
        #address-cells = <1>;
        #size-cells = <0>;

        sierra_phy0: phy@1 {
            compatible = "ethernet-phy-ieee802.3-c22";
            device_type = "ethernet-phy";
            reg = <1>;
        };
    };

	iv_io_00091_switch@77 {
                compatible = "nxp,pca9547";
                #address-cells = <1>;
                #size-cells = <0>;
                reg = <0x77>;
	
		i2c@0 {
			#address-cells = <1>;
                        #size-cells = <0>;
                        reg = <0>;
	
			mdio@41 {  //Quadratic Tri-Mode Ethernet PHY
        		        compatible = "iveia,mdio-bsc-i2c";
               			 reg = <0x41>;
				#address-cells = <1>;
				#size-cells = <0>;

				quadratic_phy0: phy@1 {
					compatible = "ethernet-phy-ieee802.3-c22";
					device_type = "ethernet-phy";
					reg = <1>;
				};
           	 	};

                        rtc@68 {
                                compatible = "stm,m41t62";
                                reg = <0x68>;
                        };

                        tempsens@4f {
                                compatible = "national,lm75";
                                reg = <0x4f>;
                        };			
                };		
	};

	iv_io_00093_switch@77 {
                compatible = "nxp,pca9547";
                #address-cells = <1>;
                #size-cells = <0>;
                reg = <0x77>;
	
		i2c@0 {
			#address-cells = <1>;
                        #size-cells = <0>;
                        reg = <0>;
	
			mdio@40 {  //Blackwing Tri-Mode Ethernet PHY
        		        compatible = "iveia,mdio-bsc-i2c";
               			 reg = <0x40>;
				#address-cells = <1>;
				#size-cells = <0>;

				blackwing_phy0: phy@1 {
					compatible = "ethernet-phy-ieee802.3-c22";
					device_type = "ethernet-phy";
					reg = <1>;
				};
           	 	};

                };		
	};

    iv_io_00096_switch@77 {
        compatible = "nxp,pca9547";
        #address-cells = <1>;
        #size-cells = <0>;
        reg = <0x77>;
	
        i2c@0 {
            #address-cells = <1>;
            #size-cells = <0>;
            reg = <0>;

            rtc@68 {
                compatible = "stm,m41t62";
                reg = <0x68>;
            };

            tempsens@4f {
                compatible = "national,lm75";
                reg = <0x4f>;
            };

            gpio@22 {
                compatible = "ti,tca6424";
                reg = <0x22>;
                gpio-controller;
                #gpio-cells = <2>;
            };

        };
    };

	iv_io_00095_switch@77 {
                compatible = "nxp,pca9547";
                #address-cells = <1>;
                #size-cells = <0>;
                reg = <0x77>;

		i2c@0 {
			#address-cells = <1>;
                        #size-cells = <0>;
                        reg = <0>;
	
                        rtc@68 {
                                compatible = "stm,m41t62";
                                reg = <0x68>;
                        };

                        tempsens@4f {
                                compatible = "national,lm75";
                                reg = <0x4f>;
                        };			
                };		
	};

	iv_io_00100_switch@77 {
                compatible = "nxp,pca9547";
                #address-cells = <1>;
                #size-cells = <0>;
                reg = <0x77>;
	
		i2c@0 {
			#address-cells = <1>;
                        #size-cells = <0>;
                        reg = <0>;
	
                        rtc@68 {
                                compatible = "stm,m41t62";
                                reg = <0x68>;
                        };

                        tempsens@4f {
                                compatible = "national,lm75";
                                reg = <0x4f>;
                        };			
                };		
	};

    iv_io_00110_rtc@68 {
            compatible = "stm,m41t62";
            reg = <0x68>;
    };

	iv_io_00110_i2c_gpio@22 {
		compatible = "ti,tca6424";
		reg = <0x22>;
	        gpio-controller;
	        #gpio-cells = <2>;
	};
	
	iv_io_00110_i2c_gpio@23 {
		compatible = "ti,tca6424";
		reg = <0x23>;
        	gpio-controller;
        	#gpio-cells = <2>;
	};

    iv_io_00123_rtc@68 {
            compatible = "stm,m41t62";
            reg = <0x68>;
    };

    iv_io_00125_rtc@68 {
            compatible = "stm,m41t62";
            reg = <0x68>;
    };
    
    iv_io_00125_accel@18 {
            compatible = "st,lis3dh-accel";
            reg = <0x18>;
    };

    iv_io_00125_tmp@48 {
		compatible = "national,lm75";
		reg = <0x48>;	
	};

	iv_io_00125_wm8960: iv_io_00125_wm8960@1a {//Atlas-I-Z8 on Bone-Island Carrier
		compatible = "wlf,wm8960";
		//#address-cells = <1>;
		//#size-cells = <0>;
		reg = <0x1a>;
	};

	iv_io_00123_switch@71 {
                compatible = "nxp,pca9547";
                #address-cells = <1>;
                #size-cells = <0>;
                reg = <0x71>;
		i2c@0 {
	        #address-cells = <1>;
            #size-cells = <0>;
            reg = <0>;
			
        };
		i2c@1 {
	        #address-cells = <1>;
            #size-cells = <0>;
            reg = <0>;
			
        };
		i2c@2 {
	        #address-cells = <1>;
            #size-cells = <0>;
            reg = <0>;
			
        };
		i2c@3 {
	        #address-cells = <1>;
            #size-cells = <0>;
            reg = <0>;
			
        };
		i2c@4 {
	        #address-cells = <1>;
            #size-cells = <0>;
            reg = <0>;
			
        };
		i2c@5 {
	        #address-cells = <1>;
            #size-cells = <0>;
            reg = <0>;
			
        };
		i2c@6 {
	        #address-cells = <1>;
            #size-cells = <0>;
            reg = <0>;
			
        };
    };

	boneisland_gpio: iv_io_00123_i2c_gpio@21 {
		compatible = "ti,tca6408";
		reg = <0x21>;
	        gpio-controller;
	        #gpio-cells = <2>;
	};


};

&i2c1 {
	status = "okay";
	clock-frequency = <400000>;

	iv_mb_00108_tpm29@29{
		compatible = "atmel,at97sc3204t";
 		reg = <0x29>;
 	};

    iv_io_00125_tsc@4a {
	    reg = <0x4a>;
	    compatible = "atmel,maxtouch";
	    interrupt-parent = <&gic>;
	    interrupts = <0 94 4>;
    };

    iv_io_00125_tsc@4b {
	    reg = <0x4b>;
	    compatible = "atmel,maxtouch";
	    interrupt-parent = <&gic>;
	    interrupts = <0 94 4>;
    };
 
    iv_io_00125_tsc@4c {
	    reg = <0x4c>;
	    compatible = "atmel,maxtouch";
	    interrupt-parent = <&gic>;
	    interrupts = <0 94 4>;
    };

};

&pcie {
	status = "okay";
	phys = <&lane0 PHY_TYPE_PCIE 0 0 100000000>;
};

&qspi {
    status = "okay";
    is-dual = <0>;
    flash@0 {
        compatible = "jedec,spi-nor";
        #address-cells = <1>;
        #size-cells = <1>;
        reg = <0x0>;
        spi-max-frequency = <50000000>;
        partition@qspi-fsbl-uboot {
            label = "qspi-fsbl-uboot";
            reg = <0x0 0x0fd000>;
        };
        partition@qspi-user-info{
            label = "qspi-user-info";
            reg = <0x0fd000 0x1000>;
        };
        partition@qspi-io-board-info{
            label = "qspi-io-board-info";
            reg = <0x0fe000 0x1000>;
        };
        partition@qspi-mb-board-info{
            label = "qspi-mb-board-info";
            reg = <0x0ff000 0x1000>;
        }; 

    };
};

&spi0 {
	status = "okay";

	iv_io_00093_tpm_spi_tis@0{
		compatible = "tcg,tpm_tis-spi";
 		reg = <0>;	/* CE0 */
 		spi-max-frequency = <500000>;
 	};

	iv_io_00100_tpm_spi_tis@0{
		compatible = "tcg,tpm_tis-spi";
 		reg = <0>;	/* CE0 */
 		spi-max-frequency = <500000>;
 	};

	tpm_spi_tis@0{
		compatible = "tcg,tpm_tis-spi";
 		reg = <0>;	/* CE0 */
 		spi-max-frequency = <500000>;
 	};
};

&rtc {
	status = "okay";
};

/* SD1 with level shifter */
&sdhci1 {
	status = "okay";
	no-1-8-v;
	xlnx,mio_bank = <1>;

//    bus-width = <0x4>;
//    vmmc-supply = <&lwb_reg>;

    max-frequency = <40000000>;

    disable-wp;
	non-removeable;
//	cap-power-off-card;
};

&sdhci0 {
	status = "okay";
	no-1-8-v;
	xlnx,mio_bank = <0>;

    max-frequency = <40000000>;

    disable-wp;
	non-removeable;
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&xilinx_ams {
	status = "okay";
};

&ams_ps {
	status = "okay";
};

&ams_pl {
	status = "okay";
};
