/*
* dts file for iVeia Atlas-II-Z8
 *
 *
 * Patrick Cleary <pcleary@iveia.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 */

/dts-v1/;

#include "zynqmp.dtsi"
#include "zynqmp-clk.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/phy/phy.h>

/ {
	model = "ZynqMP ZCU102";
	compatible = "xlnx,zynqmp-zcu102", "xlnx,zynqmp";

	aliases {
		ethernet0 = &gem0;
		gpio0 = &gpio;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		rtc0 = &rtc;
		serial0 = &uart0;
		serial1 = &uart1;
		spi0 = &qspi;
		usb0 = &usb0;
		usb1 = &usb1;
	};

	chosen {
//		bootargs = "console=ttyPS1,115200n8 earlycon=cdns,mmio,0xff010000,115200n8 init=/init video=DP-1:1024x768@60 root=/dev/mmcblk0p2 rw rootfstype=ext4 drm.debug=0xf rootwait androidboot.selinux=disabled androidboot.hardware=zcu102 qemu=1";
		bootargs = "console=ttyPS1,115200n8 single root=/dev/mmcblk0p3 rw rootfstype=ext4 rootwait rw earlyprintk loglevel=9";
//		bootargs = "console=ttyPS1,115200n8 rw earlyprintk loglevel=9";
		stdout-path = "serial1:115200n8";
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x0 0x80000000>, <0x8 0x00000000 0x80000000>;
	};

};

&serdes {
	status = "okay";
};

&can1 {
	status = "okay";
};

&gem0 {
	status = "okay";
	phy-mode = "gmii";
};

&gem1 {
	status = "okay";
	phy-mode = "gmii";
};

&gem2 {
	status = "okay";
	phy-mode = "gmii";
};

&gem3 {
	status = "okay";
	phy-mode = "sgmii";
	phy-names = "sgmii-phy";
	phys = <&lane3 PHY_TYPE_SGMII 3 1 125000000>;
	
};

&gpio {
	status = "okay";
};

&gpu {
	status = "okay";
};

&i2c0 {
	status = "okay";
	clock-frequency = <400000>;

	iv_io_00091_switch@77 {
                compatible = "nxp,pca9547";
                #address-cells = <1>;
                #size-cells = <0>;
                reg = <0x77>;
		
	};

	tsc@4a {
		reg = <0x4a>;
		compatible = "atmel,maxtouch";
		interrupt-parent = <&gic>;
		interrupts = <0 89 4>;
	};

};

&i2c1 {
	status = "okay";
	clock-frequency = <400000>;
};

&pcie {
	status = "okay";
	phys = <&lane0 PHY_TYPE_PCIE 0 0 100000000>;
};

&qspi {
	status = "okay";
};

&rtc {
	status = "okay";
};

/* SD1 with level shifter */
&sdhci1 {
	status = "okay";
	non-removable;
	broken-mmc-highspeed;
};

&sdhci0 {
	status = "okay";
	non-removable;
	broken-mmc-highspeed;
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

/* ULPI SMSC USB3320 */
&usb0 {
	status = "okay";
};

//They are actually both OTG on Z8, but we'll make USBB Host for compatibility with IO Boards
&dwc3_0 {
	status = "okay";
	dr_mode = "host";
};

&usb1 {
	status = "okay";
};

&dwc3_1 {
	status = "okay";
	dr_mode = "otg";
};

