/*
* dts file for iVeia Atlas-II-Z8
 *
 *
 * Patrick Cleary <pcleary@iveia.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 */

/dts-v1/;

#include "zynqmp.dtsi"
#include "zynqmp-clk.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/phy/phy.h>

/ {
	model = "ZynqMP ZCU102";
	compatible = "xlnx,zynqmp-zcu102", "xlnx,zynqmp";
	#address-cells = <2>;
	#size-cells = <1>;


	aliases {
		//ethernet0 = &gem0;
		gpio0 = &gpio;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		rtc0 = &rtc;
		serial0 = &uart0;
		serial1 = &uart1;
		spi0 = &qspi;
		usb0 = &usb0;
		usb1 = &usb1;
	};

	chosen {
//		bootargs = "console=ttyPS1,115200n8 earlycon=cdns,mmio,0xff010000,115200n8 init=/init video=DP-1:1024x768@60 root=/dev/mmcblk0p2 rw rootfstype=ext4 drm.debug=0xf rootwait androidboot.selinux=disabled androidboot.hardware=zcu102 qemu=1";
		bootargs = "console=ttyPS1,115200n8 single root=/dev/mmcblk0p3 rw rootfstype=ext4 rootwait rw earlyprintk loglevel=9";
//		bootargs = "console=ttyPS1,115200n8 rw earlyprintk loglevel=9";
		stdout-path = "serial1:115200n8";
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x0 0x80000000>, <0x8 0x00000000 0x80000000>;
	};


};


&amba {
//ETH0
	default_eth0: NOT_iv_io_00093_NOT_iv_io_00073_ethernet@ff0b0000 {
			compatible = "cdns,zynqmp-gem";
			status = "okay";
			phy-mode = "gmii";
			interrupt-parent = <&gic>;
			interrupts = <0 57 4>, <0 57 4>;
			reg = <0x0 0xff0b0000 0x1000>;
			clock-names = "pclk", "hclk", "tx_clk";
			#address-cells = <1>;
			#size-cells = <0>;
			#stream-id-cells = <1>;
			iommus = <&smmu 0x874>;
			power-domains = <&pd_eth0>;
            clocks = <&clk125>, <&clk125>, <&clk125>;
	};

    blackwing_maveriq_eth0: iv_io_00093_iv_io_00073_gem@ff0b0000 { //USED FOR ETHERNET_SWITCH_EXAMPLE. MDIO Connected to SGMII CORE
			compatible = "cdns,zynqmp-gem";
			status = "okay";
			phy-mode = "gmii";
			interrupt-parent = <&gic>;
			interrupts = <0 57 4>, <0 57 4>;
			reg = <0x0 0xff0b0000 0x1000>;
			clock-names = "pclk", "hclk", "tx_clk";
			#address-cells = <1>;
			#size-cells = <0>;
			#stream-id-cells = <1>;
			iommus = <&smmu 0x874>;
			power-domains = <&pd_eth0>;
            clocks = <&clk125>, <&clk125>, <&clk125>;
	    	phy-handle = <&blackwing_dummy_phy>;
	    	blackwing_dummy_phy: phy@1 {
		    	compatible = "Xilinx PCS/PMA PHY";
		    	device_type = "ethernet-phy";
		    	xlnx,phy-type = <5>;
		    	reg = <1>;
	    	};
    };

// ETH1
		iv_gem1: iv_ethernet@ff0c0000 {
			compatible = "cdns,zynqmp-gem";
			status = "okay";
            phy-mode = "gmii";
			interrupt-parent = <&gic>;
			interrupts = <0 59 4>, <0 59 4>;
			reg = <0x0 0xff0c0000 0x1000>;
			clock-names = "pclk", "hclk", "tx_clk";
			#address-cells = <1>;
			#size-cells = <0>;
			#stream-id-cells = <1>;
			iommus = <&smmu 0x875>;
			power-domains = <&pd_eth1>;
            clocks = <&clk125>, <&clk125>, <&clk125>;
		};

// ETH2
		iv_gem2: iv_ethernet@ff0d0000 {
			compatible = "cdns,zynqmp-gem";
			status = "okay";
            phy-mode = "gmii";
			interrupt-parent = <&gic>;
			interrupts = <0 61 4>, <0 61 4>;
			reg = <0x0 0xff0d0000 0x1000>;
			clock-names = "pclk", "hclk", "tx_clk";
			#address-cells = <1>;
			#size-cells = <0>;
			#stream-id-cells = <1>;
			iommus = <&smmu 0x876>;
			power-domains = <&pd_eth2>;
            clocks = <&clk125>, <&clk125>, <&clk125>;
		};

// ETH3

	iv_io_00073_gem: iv_io_00073_ethernet@ff0e0000 {
		compatible = "cdns,zynqmp-gem";
		status = "okay";
		interrupt-parent = <&gic>;
		interrupts = <0 63 4>, <0 63 4>;
		reg = <0x0 0xff0e0000 0x1000>;
		clock-names = "pclk", "hclk", "tx_clk";
		#address-cells = <1>;
		#size-cells = <0>;
		#stream-id-cells = <1>;
		iommus = <&smmu 0x877>;
		power-domains = <&pd_eth3>;
		clocks = <&clk125>, <&clk125>, <&clk125>;
		phy-mode = "sgmii";
		phy-names = "sgmii-phy";
	};

	iv_io_00091_gem: iv_io_00091_ethernet@ff0e0000 {
		compatible = "cdns,zynqmp-gem";
		status = "okay";
		interrupt-parent = <&gic>;
		interrupts = <0 63 4>, <0 63 4>;
		reg = <0x0 0xff0e0000 0x1000>;
		clock-names = "pclk", "hclk", "tx_clk";
		#address-cells = <1>;
		#size-cells = <0>;
		#stream-id-cells = <1>;
		iommus = <&smmu 0x877>;
		power-domains = <&pd_eth3>;
		clocks = <&clk125>, <&clk125>, <&clk125>;
		phy-mode = "sgmii";
		phy-names = "sgmii-phy";
	//	phys = <&lane3 PHY_TYPE_SGMII 3 1 125000000>;
	        phy-handle = <&quadratic_phy0>;
	        use-internal-mdio = <0>;	
	};
		
	iv_io_00093_gem: iv_io_00093_ethernet@ff0e0000 {
		compatible = "cdns,zynqmp-gem";
		status = "okay";
		interrupt-parent = <&gic>;
		interrupts = <0 63 4>, <0 63 4>;
		reg = <0x0 0xff0e0000 0x1000>;
		clock-names = "pclk", "hclk", "tx_clk";
		#address-cells = <1>;
		#size-cells = <0>;
		#stream-id-cells = <1>;
		iommus = <&smmu 0x877>;
		power-domains = <&pd_eth3>;
		clocks = <&clk125>, <&clk125>, <&clk125>;
		phy-mode = "sgmii";
		phy-names = "sgmii-phy";
	//	phys = <&lane3 PHY_TYPE_SGMII 3 1 125000000>;
	        phy-handle = <&blackwing_phy0>;
	        use-internal-mdio = <0>;	
	};

	iv_io_00096_gem: iv_io_00096_ethernet@ff0e0000 {
		compatible = "cdns,zynqmp-gem";
		status = "okay";
		interrupt-parent = <&gic>;
		interrupts = <0 63 4>, <0 63 4>;
		reg = <0x0 0xff0e0000 0x1000>;
		clock-names = "pclk", "hclk", "tx_clk";
		#address-cells = <1>;
		#size-cells = <0>;
		#stream-id-cells = <1>;
		iommus = <&smmu 0x877>;
		power-domains = <&pd_eth3>;
		clocks = <&clk125>, <&clk125>, <&clk125>;
		phy-mode = "sgmii";
		phy-names = "sgmii-phy";
	//	phys = <&lane3 PHY_TYPE_SGMII 3 1 125000000>;
	        phy-handle = <&rogue_phy0>;
	        use-internal-mdio = <1>;	

        rogue_phy0: phy@0 {
            compatible = "ethernet-phy-ieee802.3-c22";
		    device_type = "ethernet-phy";
		    reg = <0>;
	    };
	};

};


&serdes {
	status = "okay";
};

&can1 {
	status = "okay";
};

&gpio {
	status = "okay";
};

&gpu {
	status = "okay";
};

&i2c0 {
	status = "okay";
	clock-frequency = <400000>;

	iv_io_00091_switch@77 {
                compatible = "nxp,pca9547";
                #address-cells = <1>;
                #size-cells = <0>;
                reg = <0x77>;
	
		i2c@0 {
			#address-cells = <1>;
                        #size-cells = <0>;
                        reg = <0>;
	
			mdio@41 {  //Quadratic Tri-Mode Ethernet PHY
        		        compatible = "iveia,mdio-bsc-i2c";
               			 reg = <0x41>;
				#address-cells = <1>;
				#size-cells = <0>;

				quadratic_phy0: phy@1 {
					compatible = "ethernet-phy-ieee802.3-c22";
					device_type = "ethernet-phy";
					reg = <1>;
				};
           	 	};

                        rtc@68 {
                                compatible = "stm,m41t62";
                                reg = <0x68>;
                        };

                        tempsens@4f {
                                compatible = "national,lm75";
                                reg = <0x4f>;
                        };			
                };		
	};

	iv_io_00093_switch@77 {
                compatible = "nxp,pca9547";
                #address-cells = <1>;
                #size-cells = <0>;
                reg = <0x77>;
	
		i2c@0 {
			#address-cells = <1>;
                        #size-cells = <0>;
                        reg = <0>;
	
			mdio@40 {  //Blackwing Tri-Mode Ethernet PHY
        		        compatible = "iveia,mdio-bsc-i2c";
               			 reg = <0x40>;
				#address-cells = <1>;
				#size-cells = <0>;

				blackwing_phy0: phy@1 {
					compatible = "ethernet-phy-ieee802.3-c22";
					device_type = "ethernet-phy";
					reg = <1>;
				};
           	 	};

                };		
	};

	tsc@4a {
		reg = <0x4a>;
		compatible = "atmel,maxtouch";
		interrupt-parent = <&gic>;
		interrupts = <0 89 4>;
	};

};

&i2c1 {
	status = "okay";
	clock-frequency = <400000>;
};

&pcie {
	status = "okay";
	phys = <&lane0 PHY_TYPE_PCIE 0 0 100000000>;
};

&qspi {
	status = "okay";
};

&spi0 {
	status = "okay";

	iv_io_00093_tpm_spi_tis@0{
		compatible = "tcg,tpm_spi_tis";
 		reg = <0>;	/* CE0 */
 		spi-max-frequency = <500000>;
 	};
};

&rtc {
	status = "okay";
};

/* SD1 with level shifter */
&sdhci1 {
	status = "okay";
	non-removable;
	broken-mmc-highspeed;
};

&sdhci0 {
	status = "okay";
	non-removable;
	broken-mmc-highspeed;
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

/* ULPI SMSC USB3320 */
&usb0 {
	status = "okay";
};

//They are actually both OTG on Z8, but we'll make USBB Host for compatibility with IO Boards
&dwc3_0 {
	status = "okay";
	dr_mode = "host";

	/* 3.0 only  */ 
	phy-names = "usb3-phy";
	phys = <&lane0 PHY_TYPE_USB3 0 2 26000000>;
};

&usb1 {
	status = "okay";
};

&dwc3_1 {
	status = "okay";
	dr_mode = "otg";
};

