/*
* dts file for iVeia Atlas-II-Z8
 *
 *
 * Patrick Cleary <pcleary@iveia.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 */

/dts-v1/;

#include "zynqmp.dtsi"
#include "zynqmp-clk-ccf.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/phy/phy.h>

/ {
	model = "ZynqMP ZCU102";
	compatible = "xlnx,zynqmp-zcu102", "xlnx,zynqmp";
	#address-cells = <2>;
	#size-cells = <1>;


	aliases {
		//ethernet0 = &gem0;
		gpio0 = &gpio;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		rtc0 = &rtc;
		serial0 = &uart0;
		serial1 = &uart1;
		spi0 = &qspi;
		//usb0 = &usb0;
		//usb1 = &iv_usb1;
	};

	chosen {
//		bootargs = "console=ttyPS1,115200n8 earlycon=cdns,mmio,0xff010000,115200n8 init=/init video=DP-1:1024x768@60 root=/dev/mmcblk0p2 rw rootfstype=ext4 drm.debug=0xf rootwait androidboot.selinux=disabled androidboot.hardware=zcu102 qemu=1";
		bootargs = "console=ttyPS1,115200n8 single root=/dev/mmcblk0p3 rw rootfstype=ext4 rootwait rw earlyprintk loglevel=9";
//		bootargs = "console=ttyPS1,115200n8 rw earlyprintk loglevel=9";
		stdout-path = "serial1:115200n8";
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x0 0x80000000>, <0x8 0x00000000 0x80000000>;
	};


};


&amba {
//ETH0
	default_eth0: NOT_iv_io_00110_NOT_iv_io_00093_NOT_iv_io_00073_ethernet@ff0b0000 {
			compatible = "cdns,zynqmp-gem";
			status = "okay";
			phy-mode = "gmii";
			interrupt-parent = <&gic>;
			interrupts = <0 57 4>, <0 57 4>;
			reg = <0x0 0xff0b0000 0x0 0x1000>;
			clocks = <&clkc 45>, <&clkc 45>, <&clkc 49>;
			clock-names = "pclk", "tx_clk", "hclk";
			#address-cells = <1>;
			#size-cells = <0>;
			#stream-id-cells = <1>;
			iommus = <&smmu 0x874>;
			power-domains = <&pd_eth0>;
	};

	merrimack_eth0: iv_io_00110_ethernet@ff0b0000 {
			compatible = "cdns,zynqmp-gem";
			status = "okay";
			phy-mode = "gmii";
			interrupt-parent = <&gic>;
			interrupts = <0 57 4>, <0 57 4>;
			reg = <0x0 0xff0b0000 0x0 0x1000>;
			clocks = <&clkc 45>, <&clkc 45>, <&clkc 49>;
			clock-names = "pclk", "tx_clk", "hclk";
			#address-cells = <1>;
			#size-cells = <0>;
			#stream-id-cells = <1>;
			iommus = <&smmu 0x874>;
			power-domains = <&pd_eth0>;

			use-internal-mdio = <1>;
			mdio {
				#address-cells = <1>;
				#size-cells = <0>;
				merrimack_h_phy: phy@3 {
				compatible = "ethernet-phy-ieee802.3-c22";
				device_type = "ethernet-phy";
				reg = <3>;
				};
			};
	};

	blackwing_maveriq_eth0: iv_io_00093_iv_io_00073_gem@ff0b0000 { //USED FOR ETHERNET_SWITCH_EXAMPLE. MDIO Connected to SGMII CORE
			compatible = "cdns,zynqmp-gem";
			status = "okay";
			phy-mode = "gmii";
			interrupt-parent = <&gic>;
			interrupts = <0 57 4>, <0 57 4>;
			reg = <0x0 0xff0b0000 0x0 0x1000>;
			clocks = <&clkc 45>, <&clkc 45>, <&clkc 49>;
			clock-names = "pclk", "tx_clk", "hclk";
			#address-cells = <1>;
			#size-cells = <0>;
			#stream-id-cells = <1>;
			iommus = <&smmu 0x874>;
			power-domains = <&pd_eth0>;
	    		phy-handle = <&blackwing_dummy_phy>;
	    		blackwing_dummy_phy: phy@1 {
		    		compatible = "Xilinx PCS/PMA PHY";
		    		device_type = "ethernet-phy";
		    		xlnx,phy-type = <5>;
		    		reg = <1>;
		    	};
    	};

// ETH1
	iv_gem1: NOT_iv_io_00110_iv_ethernet@ff0c0000 {
		compatible = "cdns,zynqmp-gem";
		status = "okay";
                phy-mode = "gmii";
		interrupt-parent = <&gic>;
		interrupts = <0 59 4>, <0 59 4>;
		reg = <0x0 0xff0c0000 0x0 0x1000>;
		clocks = <&clkc 46>, <&clkc 46>, <&clkc 50>;
		clock-names = "pclk", "tx_clk", "hclk";
		#address-cells = <1>;
		#size-cells = <0>;
		#stream-id-cells = <1>;
		iommus = <&smmu 0x875>;
		power-domains = <&pd_eth1>;
	};

	merrimack_gem1: iv_io_00110_iv_ethernet@ff0c0000 {
		compatible = "cdns,zynqmp-gem";
		status = "okay";
                phy-mode = "gmii";
		interrupt-parent = <&gic>;
		interrupts = <0 59 4>, <0 59 4>;
		reg = <0x0 0xff0c0000 0x0 0x1000>;
		clocks = <&clkc 46>, <&clkc 46>, <&clkc 50>;
		clock-names = "pclk", "tx_clk", "hclk";
		#address-cells = <1>;
		#size-cells = <0>;
		#stream-id-cells = <1>;
		iommus = <&smmu 0x875>;
		power-domains = <&pd_eth1>;

		use-internal-mdio = <1>;
		mdio {
			#address-cells = <1>;
			#size-cells = <0>;
			merrimack_n_phy: phy@0 {
				compatible = "ethernet-phy-ieee802.3-c22";
				device_type = "ethernet-phy";
				reg = <0>;
			};
		};
	};


// ETH2
	iv_gem2: iv_ethernet@ff0d0000 {
		compatible = "cdns,zynqmp-gem";
		status = "okay";
       		phy-mode = "gmii";
		interrupt-parent = <&gic>;
		interrupts = <0 61 4>, <0 61 4>;
		reg = <0x0 0xff0d0000 0x0 0x1000>;
		clocks = <&clkc 47>, <&clkc 47>, <&clkc 51>;
		clock-names = "pclk", "tx_clk", "hclk";
		#address-cells = <1>;
		#size-cells = <0>;
		#stream-id-cells = <1>;
		iommus = <&smmu 0x876>;
		power-domains = <&pd_eth2>;
	};

// ETH3

    iv_bp_00052_mdio0: mdio {
	    compatible = "virtual,mdio-gpio";
	    #address-cells = <1>;
	    #size-cells = <0>;
	    gpios = < &iv_bp_00052_gpio 1 0 &iv_bp_00052_gpio 0 0 >;

        aep_phy0: phy@0 {
            compatible = "ethernet-phy-ieee802.3-c22";
            device_type = "ethernet-phy";
            reg = <0>;
        };
    };

        iv_bp_00052_gem: iv_bp_00052_ethernet@ff0e0000 {
		compatible = "cdns,zynqmp-gem";
		status = "okay";
		interrupt-parent = <&gic>;
		interrupts = <0 63 4>, <0 63 4>;
		reg = <0x0 0xff0e0000 0x0 0x1000>;
		clocks = <&clkc 31>, <&clkc 52>, <&clkc 48>, <&clkc 52>;
		clock-names = "pclk", "hclk", "tx_clk", "rx_clk";
		#address-cells = <1>;
		#size-cells = <0>;
		#stream-id-cells = <1>;
		iommus = <&smmu 0x877>;
		power-domains = <&pd_eth3>;
        phy-mode = "sgmii";
        phy-names = "sgmii-phy";

            phy-handle = <&aep_phy0>;
            use-internal-mdio = <0>;


        };

	iv_io_00073_gem: iv_io_00073_ethernet@ff0e0000 {
		compatible = "cdns,zynqmp-gem";
		status = "okay";
		interrupt-parent = <&gic>;
		interrupts = <0 63 4>, <0 63 4>;
		reg = <0x0 0xff0e0000 0x0 0x1000>;
		clocks = <&clkc 31>, <&clkc 52>, <&clkc 48>, <&clkc 52>;
		clock-names = "pclk", "hclk", "tx_clk", "rx_clk";
		#address-cells = <1>;
		#size-cells = <0>;
		#stream-id-cells = <1>;
		iommus = <&smmu 0x877>;
		power-domains = <&pd_eth3>;
		phy-mode = "sgmii";
		phy-names = "sgmii-phy";
	};

	iv_io_00087_gem: iv_io_00087_ethernet@ff0e0000 {
		compatible = "cdns,zynqmp-gem";
		status = "okay";
		interrupt-parent = <&gic>;
		interrupts = <0 63 4>, <0 63 4>;
		reg = <0x0 0xff0e0000 0x0 0x1000>;
		clocks = <&clkc 31>, <&clkc 52>, <&clkc 48>, <&clkc 52>;
		clock-names = "pclk", "hclk", "tx_clk", "rx_clk";
		#address-cells = <1>;
		#size-cells = <0>;
		#stream-id-cells = <1>;
		iommus = <&smmu 0x877>;
		power-domains = <&pd_eth3>;
		phy-mode = "sgmii";
		phy-names = "sgmii-phy";
	        phy-handle = <&sierra_phy0>;
	        use-internal-mdio = <0>;	
	};

	iv_io_00091_gem: iv_io_00091_ethernet@ff0e0000 {
		compatible = "cdns,zynqmp-gem";
		status = "okay";
		interrupt-parent = <&gic>;
		interrupts = <0 63 4>, <0 63 4>;
		reg = <0x0 0xff0e0000 0x0 0x1000>;
		clocks = <&clkc 31>, <&clkc 52>, <&clkc 48>, <&clkc 52>;
		clock-names = "pclk", "hclk", "tx_clk", "rx_clk";
		#address-cells = <1>;
		#size-cells = <0>;
		#stream-id-cells = <1>;
		iommus = <&smmu 0x877>;
		power-domains = <&pd_eth3>;
		phy-mode = "sgmii";
		phy-names = "sgmii-phy";
	        phy-handle = <&quadratic_phy0>;
	        use-internal-mdio = <0>;	
	};
		
	iv_io_00093_gem: iv_io_00093_ethernet@ff0e0000 {
		compatible = "cdns,zynqmp-gem";
		status = "okay";
		interrupt-parent = <&gic>;
		interrupts = <0 63 4>, <0 63 4>;
		reg = <0x0 0xff0e0000 0x0 0x1000>;
		clocks = <&clkc 31>, <&clkc 52>, <&clkc 48>, <&clkc 52>;
		clock-names = "pclk", "hclk", "tx_clk", "rx_clk";
		#address-cells = <1>;
		#size-cells = <0>;
		#stream-id-cells = <1>;
		iommus = <&smmu 0x877>;
		power-domains = <&pd_eth3>;
		phy-mode = "sgmii";
		phy-names = "sgmii-phy";
	        phy-handle = <&blackwing_phy0>;
	        use-internal-mdio = <0>;	
	};

    iv_io_00095_gem: iv_io_00095_ethernet@ff0e0000 {
		compatible = "cdns,zynqmp-gem";
		status = "okay";
		interrupt-parent = <&gic>;
		interrupts = <0 63 4>, <0 63 4>;
		reg = <0x0 0xff0e0000 0x0 0x1000>;
		clocks = <&clkc 31>, <&clkc 52>, <&clkc 48>, <&clkc 52>;
		clock-names = "pclk", "hclk", "tx_clk", "rx_clk";
		#address-cells = <1>;
		#size-cells = <0>;
		#stream-id-cells = <1>;
		iommus = <&smmu 0x877>;
		power-domains = <&pd_eth3>;
        phy-mode = "sgmii";
        phy-names = "sgmii-phy";

            phy-handle = <&vpx_1_phy0>;
            use-internal-mdio = <1>;

        vpx_1_phy0: phy@0 {
            compatible = "ethernet-phy-ieee802.3-c22";
            device_type = "ethernet-phy";
            reg = <1>;
        };
        };

	iv_io_00096_gem: iv_io_00096_ethernet@ff0e0000 {
		compatible = "cdns,zynqmp-gem";
		status = "okay";
		interrupt-parent = <&gic>;
		interrupts = <0 63 4>, <0 63 4>;
		reg = <0x0 0xff0e0000 0x0 0x1000>;
		clocks = <&clkc 31>, <&clkc 52>, <&clkc 48>, <&clkc 52>;
		clock-names = "pclk", "hclk", "tx_clk", "rx_clk";
		#address-cells = <1>;
		#size-cells = <0>;
		#stream-id-cells = <1>;
		iommus = <&smmu 0x877>;
		power-domains = <&pd_eth3>;
		phy-mode = "sgmii";
		phy-names = "sgmii-phy";
	        phy-handle = <&rogue_phy0>;
	        use-internal-mdio = <1>;	

        rogue_phy0: phy@0 {
            compatible = "ethernet-phy-ieee802.3-c22";
		    device_type = "ethernet-phy";
		    reg = <0>;
	    };
	};

        iv_io_00100_gem: iv_io_00100_ethernet@ff0e0000 {
		compatible = "cdns,zynqmp-gem";
		status = "okay";
		interrupt-parent = <&gic>;
		interrupts = <0 63 4>, <0 63 4>;
		reg = <0x0 0xff0e0000 0x0 0x1000>;
		clocks = <&clkc 31>, <&clkc 52>, <&clkc 48>, <&clkc 52>;
		clock-names = "pclk", "hclk", "tx_clk", "rx_clk";
		#address-cells = <1>;
		#size-cells = <0>;
		#stream-id-cells = <1>;
		iommus = <&smmu 0x877>;
		power-domains = <&pd_eth3>;
        phy-mode = "sgmii";
        phy-names = "sgmii-phy";

            phy-handle = <&aurora_phy0>;
            use-internal-mdio = <1>;

        aurora_phy0: phy@0 {
            compatible = "ethernet-phy-ieee802.3-c22";
            device_type = "ethernet-phy";
            reg = <1>;
        };
        };

		iv_mb_00090_iv_mb_0098_usb0: iv_mb_00090_iv_mb_0098_usb0 { //All boards except Atlas-III-Z8
		//iv_usb0: iv_usb0 {
			#address-cells = <2>;
			#size-cells = <2>;
			status = "okay";
			compatible = "xlnx,zynqmp-dwc3";
			reg = <0x0 0xff9d0000 0x0 0x100>;
			clock-names = "bus_clk", "ref_clk";
			#stream-id-cells = <1>;
			iommus = <&smmu 0x860>;
			power-domains = <&pd_usb0>;
			ranges;
			nvmem-cells = <&soc_revision>;
			nvmem-cell-names = "soc_revision";
            clocks = <&clkc 32>,  <&clkc 34>;

			iv_dwc3_0: iv_dwc3@fe200000 {
				compatible = "snps,dwc3";
				status = "okay";
				reg = <0x0 0xfe200000 0x0 0x40000>;
				interrupt-parent = <&gic>;
				interrupts = <0 65 4>, <0 69 4>;
				snps,quirk-frame-length-adjustment = <0x20>;
				snps,refclk_fladj;

	            dr_mode = "host";
	            snps,usb3_lpm_capable;
	            phy-names = "usb3-phy";
	            phys = <&lane0 PHY_TYPE_USB3 0 2 26000000>;

			};
		};

		iv_mb_000108_usb0: iv_mb_00108_usb0 { //Atlas-I-Z8 has different Lane setup
		//iv_usb0: iv_usb0 {
			#address-cells = <2>;
			#size-cells = <2>;
			status = "okay";
			compatible = "xlnx,zynqmp-dwc3";
			reg = <0x0 0xff9d0000 0x0 0x100>;
			clock-names = "bus_clk", "ref_clk";
			#stream-id-cells = <1>;
			iommus = <&smmu 0x860>;
			power-domains = <&pd_usb0>;
			ranges;
			nvmem-cells = <&soc_revision>;
			nvmem-cell-names = "soc_revision";
            clocks = <&clkc 32>,  <&clkc 34>;

			iv_dwc3_a1_0: iv_dwc3@fe200000 {
				compatible = "snps,dwc3";
				status = "okay";
				reg = <0x0 0xfe200000 0x0 0x40000>;
				interrupt-parent = <&gic>;
				interrupts = <0 65 4>, <0 69 4>;
				snps,quirk-frame-length-adjustment = <0x20>;
				snps,refclk_fladj;

	            dr_mode = "host";
	            snps,usb3_lpm_capable;
	            phy-names = "usb3-phy";
	            phys = <&lane0 PHY_TYPE_USB3 0 0 100000000>;

			};
		};

		iv_mb_00090_iv_mb_0098_iv_mb_00108_usb1: iv_mb_00090_iv_mb_0098_iv_mb_00108_usb1 { //All boards except Atlas-III-Z8
			#address-cells = <2>;
			#size-cells = <2>;
			status = "okay";
			compatible = "xlnx,zynqmp-dwc3";
			reg = <0x0 0xff9e0000 0x0 0x100>;
			clock-names = "bus_clk", "ref_clk";
			#stream-id-cells = <1>;
			iommus = <&smmu 0x861>;
			power-domains = <&pd_usb1>;
			ranges;
			nvmem-cells = <&soc_revision>;
			nvmem-cell-names = "soc_revision";
            clocks = <&clkc 33>,  <&clkc 34>;

			iv_dwc3_1: dwc3@fe300000 {
				compatible = "snps,dwc3";
				status = "okay";
				reg = <0x0 0xfe300000 0x0 0x40000>;
				interrupt-parent = <&gic>;
				interrupts = <0 70 4>, <0 74 4>;
				snps,quirk-frame-length-adjustment = <0x20>;
				snps,refclk_fladj;

                dr_mode = "peripheral";
                maximum-speed = "high-speed";

			};
		};

};


&pss_ref_clk {
        clock-frequency = <50000000>;
};

&fclk0 {
	status = "okay";
};

&fclk1 {
	status = "okay";
};

&fclk2 {
	status = "okay";
};

&fclk3 {
	status = "okay";
};

&serdes {
	status = "okay";
};

&can1 {
	status = "okay";
};

&gpio {
	status = "okay";
};

&gpu {
	status = "okay";
};

&i2c0 {
	status = "okay";
	clock-frequency = <400000>;

	iv_bp_00052_gpio: iv_bp_00052_i2c_gpio@71 { //Triumph AEP Module
		compatible = "nxp,pca9538";
		reg = <0x71>;
        gpio-controller;
        #gpio-cells = <2>;

	};

    iv_io_00087_mdio@41 {  //Quadratic Tri-Mode Ethernet PHY
        compatible = "iveia,mdio-bsc-i2c";
        reg = <0x41>;
        #address-cells = <1>;
        #size-cells = <0>;

        sierra_phy0: phy@1 {
            compatible = "ethernet-phy-ieee802.3-c22";
            device_type = "ethernet-phy";
            reg = <1>;
        };
    };

	iv_io_00091_switch@77 {
                compatible = "nxp,pca9547";
                #address-cells = <1>;
                #size-cells = <0>;
                reg = <0x77>;
	
		i2c@0 {
			#address-cells = <1>;
                        #size-cells = <0>;
                        reg = <0>;
	
			mdio@41 {  //Quadratic Tri-Mode Ethernet PHY
        		        compatible = "iveia,mdio-bsc-i2c";
               			 reg = <0x41>;
				#address-cells = <1>;
				#size-cells = <0>;

				quadratic_phy0: phy@1 {
					compatible = "ethernet-phy-ieee802.3-c22";
					device_type = "ethernet-phy";
					reg = <1>;
				};
           	 	};

                        rtc@68 {
                                compatible = "stm,m41t62";
                                reg = <0x68>;
                        };

                        tempsens@4f {
                                compatible = "national,lm75";
                                reg = <0x4f>;
                        };			
                };		
	};

	iv_io_00093_switch@77 {
                compatible = "nxp,pca9547";
                #address-cells = <1>;
                #size-cells = <0>;
                reg = <0x77>;
	
		i2c@0 {
			#address-cells = <1>;
                        #size-cells = <0>;
                        reg = <0>;
	
			mdio@40 {  //Blackwing Tri-Mode Ethernet PHY
        		        compatible = "iveia,mdio-bsc-i2c";
               			 reg = <0x40>;
				#address-cells = <1>;
				#size-cells = <0>;

				blackwing_phy0: phy@1 {
					compatible = "ethernet-phy-ieee802.3-c22";
					device_type = "ethernet-phy";
					reg = <1>;
				};
           	 	};

                };		
	};

/*	tsc@4a {
		reg = <0x4a>;
		compatible = "atmel,maxtouch";
		interrupt-parent = <&gic>;
		interrupts = <0 89 4>;
	};
*/

	iv_io_00095_switch@77 {
                compatible = "nxp,pca9547";
                #address-cells = <1>;
                #size-cells = <0>;
                reg = <0x77>;

		i2c@0 {
			#address-cells = <1>;
                        #size-cells = <0>;
                        reg = <0>;
	
                        rtc@68 {
                                compatible = "stm,m41t62";
                                reg = <0x68>;
                        };

                        tempsens@4f {
                                compatible = "national,lm75";
                                reg = <0x4f>;
                        };			
                };		
	};

	iv_io_00100_switch@77 {
                compatible = "nxp,pca9547";
                #address-cells = <1>;
                #size-cells = <0>;
                reg = <0x77>;
	
		i2c@0 {
			#address-cells = <1>;
                        #size-cells = <0>;
                        reg = <0>;
	
                        rtc@68 {
                                compatible = "stm,m41t62";
                                reg = <0x68>;
                        };

                        tempsens@4f {
                                compatible = "national,lm75";
                                reg = <0x4f>;
                        };			
                };		
	};

        iv_io_00110_rtc@68 {
            compatible = "stm,m41t62";
            reg = <0x68>;
        };

	iv_io_00110_i2c_gpio@22 {
		compatible = "ti,tca6424";
		reg = <0x22>;
	        gpio-controller;
	        #gpio-cells = <2>;
	};
	
	iv_io_00110_i2c_gpio@23 {
		compatible = "ti,tca6424";
		reg = <0x23>;
        	gpio-controller;
        	#gpio-cells = <2>;
	};

};

&i2c1 {
	status = "okay";
	clock-frequency = <400000>;

	iv_mb_00108_tpm29@29{
		compatible = "atmel,at97sc3204t";
 		reg = <0x29>;
 	};
};

&pcie {
	status = "okay";
	phys = <&lane0 PHY_TYPE_PCIE 0 0 100000000>;
};

&qspi {
	status = "okay";
};

&spi0 {
	status = "okay";

	iv_io_00093_tpm_spi_tis@0{
		compatible = "tcg,tpm_tis-spi";
 		reg = <0>;	/* CE0 */
 		spi-max-frequency = <500000>;
 	};

	iv_io_00100_tpm_spi_tis@0{
		compatible = "tcg,tpm_tis-spi";
 		reg = <0>;	/* CE0 */
 		spi-max-frequency = <500000>;
 	};
};

&rtc {
	status = "okay";
};

/* SD1 with level shifter */
&sdhci1 {
	status = "okay";
	no-1-8-v;
	xlnx,mio_bank = <1>;
};

&sdhci0 {
	status = "okay";
	no-1-8-v;
	xlnx,mio_bank = <0>;
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&xilinx_ams {
	status = "okay";
};

&ams_ps {
	status = "okay";
};

&ams_pl {
	status = "okay";
};
